参考资料/分布式计算与并行处理/source/soap/MyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap" xmlns:intf="http://soap" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Aug 08, 2005 (11:49:10 PDT)-->

   <wsdl:message name="getSampleRequest">

   </wsdl:message>

   <wsdl:message name="setSampleRequest">

      <wsdl:part name="sample" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setSampleResponse">

   </wsdl:message>

   <wsdl:message name="getSampleResponse">

      <wsdl:part name="getSampleReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="MyService">

      <wsdl:operation name="getSample">

         <wsdl:input message="impl:getSampleRequest" name="getSampleRequest"/>

         <wsdl:output message="impl:getSampleResponse" name="getSampleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSample" parameterOrder="sample">

         <wsdl:input message="impl:setSampleRequest" name="setSampleRequest"/>

         <wsdl:output message="impl:setSampleResponse" name="setSampleResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyServiceSoapBinding" type="impl:MyService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSample">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSampleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSampleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSample">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSampleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSampleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyServiceService">

      <wsdl:port binding="impl:MyServiceSoapBinding" name="MyService">

         <wsdlsoap:address location="http://localhost:8080/SimpleService/services/MyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
